body{
    font-family:cursive, 'Times New Roman', Times, serif, Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightpink;
}
.image-with-border {
  border-width: 5px;
  border-style: solid;
  border-color: #000000;
}